<%page args="module" expression_filter="h" />
<%namespace name="lib" file="//lib.html" import="*"/>


<div class="UnixToggleContainer">
  	 <a href="" class="chart cubism" id="cubism">Cubism</a>
  	 <a href="" class="chart scatterplot" id="scatterplot">Scatter Plot</a>
</div>


