.UnixToggleContainer {
    margin-left: 3%;
    margin-top: 10px;
    width: 95%;
}
.UnixToggleContainer a:hover {
    text-decoration: none;
}
a.chart {
    background: transparent;
    border: 1px solid #CCC;
    border-radius: 4px;
    color: #000000;
    height: 20px;
    padding: 7px 15px;
    width: 40px;
}
a.cubism, a.scatterplot  {
    font-weight: normal;
}
a.selected {
    background: url("/static/img/skins/default/overlay_gradient_28_plus.png") repeat-x scroll left top transparent;
    font-weight: bold; 
}
a.cubism {
    padding-left: 22px;
    padding-right: 22px;
}
a.scatterplot {
    padding-left: 20px;
    padding-right: 20px;
}

span#chart_filter {
    font-size: 12px;
    margin-right: 45px;
}
