.CFBarChart.chart {
    display: inline-block;
    float: left;
}

.CFBarChart.chart .reset {
    padding-left: 1em;
    font-size: smaller;
    color: #ccc;
}

.CFBarChart.chart .background.bar  {
    fill: #ccc;
}

.CFBarChart.chart .foreground.bar {
    fill: steelblue;
}

.CFBarChart.chart .brush rect.extent {
    fill: steelblue;
    fill-opacity: .125;
}

.CFBarChart.chart .brush .resize path {
    fill: #eee;
    stroke: #666;
}

.CFBarChart.chart .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
