.CFPieChart.chart {
    display: inline-block;
}

.CFPieChart.chart .reset {
    padding-left: 1em;
    font-size: smaller;
    color: #ccc;
}

..CFPieChart.chart pieLabel {
    font: 12px sans-serif;
    fill: #d62728;
}

..CFPieChart.chart arcLabel {
    fill: #fff;
    text-decoration: underline;
}

.CFPieChart.chart text.arcLabel {
    cursor: pointer;
}

.CFPieChart.chart .pieLabel.reset {
    cursor: pointer;
    fill: #ccc;
}

.CFPieChart.chart text.legendLabel {
    vertical-align: middle;
}
