.UnixAlertsButtonContainer {
    margin-left: 3%;
    margin-top: 10px;
    width: 95%;
}
.UnixAlertsButtonContainer a:hover {
    text-decoration: none;
}
a.severity {
    background: transparent;
    border: 1px solid #CCC;
    border-radius: 4px;
    color: #000000;
    height: 20px;
    padding: 7px 15px;
    width: 40px;
}
a.all, a.info, a.low, a.medium, a.high, a.critical {
    font-weight: normal;
}
a.selected {
    background: url("/static/img/skins/default/overlay_gradient_28_plus.png") repeat-x scroll left top transparent;
    font-weight: bold; 
}
a.all {
    padding-left: 22px;
    padding-right: 22px;
}
a.info, a.low {
    padding-left: 20px;
    padding-right: 20px;
}
a.medium {
    padding-left: 10px;
    padding-right: 10px;
}
a.critcal {
    padding-left: 9px;
    padding-right: 9px;
}
span#severity_filter {
    font-size: 12px;
    margin-right: 45px;
}
