<%page args="module" expression_filter="h" />
<%namespace name="lib" file="//lib.html" import="*"/>

<div class="UnixAlertsButtonContainer">
  <span id="severity_filter">Severity:</span>
  <a href="" class="severity all selected" id="all">All</a>
  <a href="" class="severity info" id="info">Info</a>
  <a href="" class="severity low" id="low">Low</a>
  <a href="" class="severity medium" id="medium">Medium</a>
  <a href="" class="severity high" id="high">High</a>
  <a href="" class="severity critical" id="critical">Critical</a>
</div>
