<%page args="module" expression_filter="h" />
<%namespace name="lib" file="//lib.html" import="*"/>
<div id="${module.get('id')}_sortabletable" class="SortabeTableContainer">

<div id="g-table">
<div class="g-head">


<br clear="left">
<div class="g-title">A comparison between hosts</div>
<div class="g-body">

</div>

<svg id="g-chart" width="1250" height="1400">
<clipPath id="g-clip-cell">
<rect width="156" height="21"></rect>
</clipPath>
<linearGradient id="g-clip-gradient" y2="0%">
<stop offset="0%" stop-color="#fff" stop-opacity="0"></stop>
<stop offset="100%" stop-color="#fff" stop-opacity="1"></stop>
</linearGradient>
</svg>

<br clear="left">
</div>
 </div>



</div>
