<%page args="module" expression_filter="h" />
<%namespace name="lib" file="//lib.html" import="*"/>
<div id="token">
  <h2>Select ${module['token']}:</h2>
</div>
<div id="selector_border">
  <ol id="selector">
  </ol>
</div>
