.UnixAlertsFilterContainer {
    margin-left: 3%;
    margin-top: 10px;
    width: 95%;
}
.UnixAlertsFilterContainer {
    margin-bottom: 10px;
}
label[for=keyword_filter] {
    margin-right: 12px;
}
input#keyword_filter {
    border-radius: 4px;
}
