<%page args="module" expression_filter="h" />
<%namespace name="lib" file="//lib.html" import="*"/>

<div class="UnixAlertsFilterContainer">
  <label for="keyword_filter">Keyword Filter:</label>
  <input type="text" name="keyword_filter" id="keyword_filter" value="" size="71"/>
</div>
