.AletrsContainer {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: auto;
    min-height: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 97%;
}
.AletrsContainer h1 {
    color: #3F3F3F;
    font-size: 24px;
    font-weight: 200;
    line-height: 39px;
    font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
    margin: 10px 10px 10px 20px;
}
.AletrsContainer h2 {
    float: left;
    margin: 25px 20px 10px;
}

.AletrsHeader,
.AlertsTop,
.AlertsLeft,
.AlertsMain {
    background-color: #F9F9F9;
    background: -webkit-gradient(linear, 0% 0%, 50% 100%, from(#F9F9F9), to(#F9F9F9), color-stop(.5,#FFFFFF));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #F9F9F9 0%, #FFFFFF 50%, #F9F9F9 100%);
    /* IE 10 */
    background: -ms-linear-gradient(top, #F9F9F9 0%, #FFFFFF 50%, #F9F9F9 100%);
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    float: left;
    margin-left: 1%;
    margin-top: 10px;
}
.AletrsHeader {
    height: 62px;
    width: 97.8%;
}

.AlertsTop {
    display: inline-block;
    width: 97.8%;
}

.AlertsLeft {
    height: 100%;
    width: 20%;
    float: left;
}

.AlertsMain {
    margin-left: 1.5%;
    height: 100%;
    width: 77%;
    float: right;
    overflow: hidden;
}

.AlertsMain .CFToggler.chart {
    float: right;
    margin-right: 20px;
}
