body {
    background-color: #F7F7F7;
    color: #3f3f3f;
}
.appHeader .accountBarItems a {
    color: #111111;
}
.AccountBar {
    background-color: #61B7E3;
    background-image: linear-gradient(bottom, rgb(97,184,227) 8%, rgb(133,210,249) 54%);
    background-image: -o-linear-gradient(bottom, rgb(97,184,227) 8%, rgb(133,210,249) 54%);
    background-image: -moz-linear-gradient(bottom, rgb(97,184,227) 8%, rgb(133,210,249) 54%);
    background-image: -webkit-linear-gradient(bottom, rgb(97,184,227) 8%, rgb(133,210,249) 54%);
    background-image: -ms-linear-gradient(bottom, rgb(97,184,227) 8%, rgb(133,210,249) 54%);

    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.08, rgb(97,184,227)),
	color-stop(0.54, rgb(133,210,249))
    );
}

.appHeaderWrapper h1 {
    color: #FFFFFF;
    line-height: 45px;
    padding-top: 4px;
}

.appLogo {
    /*background: url("images/Splunk_logo.png") no-repeat scroll 0 0 transparent;*/
    margin-top: 5px;
    margin-left: 3px;
    height: 39px;
    padding-right: 10px;
}
.FoundationAppBar {
    padding: 1px 10px;
}
.FoundationAppBar .auxLinks {
    display: none;
}
.navigationHeader {
    background-color: #111111;
}
.splHeader-dashboard h2 {
    color: #3F3F3F;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 20px;
	font-family:"Helvetica nenu", Helvetica, Arial, sans-serif;
    margin-left: 15px;
    margin-top: 15px;
}
.AccountBar #applicationsMenuActivator .splIcon-triangle-3-s {
    float: right;
    margin: 10px 0 0 5px;
    background-image: url("images/nav_black_down_arrow.png");
    background-position: 0 0;
}
ul.appBarNav li a {
    font-size: 12px;
    font-weight: normal;
	padding: 0px 17px;
	color: #FFF;
}
.dashboardCell .meta{
    margin-top: 5px;
    padding-right: 10px;
}
.TitleBar .splHeader, 
.FieldPickerPopup .splHeader-primary {
    background-color: #F7F7F7;
    background-image: none;
}
.viewHeader, .mainSearchControls,
.splSearchControls-inline,
.SearchBar .saHelpWrapper {
    background-color: #F7F7F7;
}

