.HomeContainer {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: auto;
    min-height: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 97%;
}
.HomeContainer h1 {
    color: #3F3F3F;
    font-size: 24px;
    font-weight: 200;
    line-height: 39px;
    font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
    margin: 10px 10px 10px 20px;
}
.HomeContainer h2 {
    float: left;
    margin: 25px 20px 10px;
}
.HomeHeader,
.HomeLeft,
.HomeRight {
    background-color: #F9F9F9;
    background: -webkit-gradient(linear, 0% 0%, 50% 100%, from(#F9F9F9), to(#F9F9F9), color-stop(.5,#FFFFFF));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #F9F9F9 0%, #FFFFFF 50%, #F9F9F9 100%);
    /* IE 10 */
    background: -ms-linear-gradient(top, #F9F9F9 0%, #FFFFFF 50%, #F9F9F9 100%);
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    float: left;
    margin-left: 1%;
    margin-top: 10px;
}
.HomeHeader {
    height: 62px;
    width: 97.8%;
}
.HomeLeft ,
.HomeRight {
    height: 100%;
    width: 48%;
}
.HomeRight {
    margin-left: 1.5%;
}
