.UnixAlertsControlContainer {
    margin-left: 3%;
    margin-top: 10px;
    width: 95%;
}
.UnixAlertsControlContainer {
    margin-bottom: 10px;
}
a#interval_control {
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    color: #111111;
    float: right;
    padding: 7px;
}
a#interval_control.play {
    padding-left: 9px;
    padding-right: 9px;
}
