<%page args="module" expression_filter="h" />
<%namespace name="lib" file="//lib.html" import="*"/>

<div class="UnixAlertsControlContainer">
  <a href="" id="interval_control" class="play">Pause</a>
</div>
