<%page args="module" expression_filter="h" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%
width = module.get('outer_width')
%>
<div id="token">
  <h2>Select ${module['token']}:</h2>
</div>
<div  class="MultiSelectContainer">
  <select name="${module.get('token')}" class="multiselect_module" style="display: none;" id="${module.get('id')}_multiselect">
  </select>
</div>

  