<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%def name="css()">
    <%coreCSSFiles = [
        "/static/css/view.css", 
        "/static/css/skins/default/default.css" 
    ] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>
<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/%s/application.css' % app, '/static/app/%s/unix_setup.css' % app]}" />
</%def>
<div class="UnixMessageContainer">
  <h2>Splunk *nix App Setup Success</h2>
  <p>Your Splunk *nix App settings have been saved successfully, and the app has been marked as configured.   Click "OK" to go to the Unix app home page.</p>
  <div class="UnixOKButton">
    <a target="_parent" href="${make_url('/app/%s' % app)}" class="splButton-primary"><span>OK</span></a>
  </div>
</div>