<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%namespace name="helpers" file="//view/_helpers.html" import="*"/>

<%def name="css()">
    <%coreCSSFiles = [
        "/static/css/view.css", 
        "/static/css/skins/default/default.css" 
    ] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>

<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/%s/application.css' % app, '/static/app/%s/unix_setup.css' % app]}" />
    <%lib:script_tags files="${['/static/app/%s/unix_setup.js' % app]}" />
</%def>

<%def name="gen_form(method='POST', action=None, id=None)">
    <form  method="${method}"  action="${action if action else ''}" ${'id=' + id if id else ''}>
</%def>

<%def name="gen_radio_row(input, type='monitor', error_key=None)">
<tr>
<%
    name = input.name 
    fname = input.name.split('/')[-1]
%>
  <td>${fname if type in ['scripted'] else name}</td>
  <td>
    <input class="${'ScriptedEnable' if type in ['scripted'] else 'MonitorEnable'}" type="radio" name="${input.name + '.disabled'}" value="false" ${'checked="checked"' if input.disabled==False else ''} /> 
  </td>
  <td>
    <input class="${'ScriptedDisable' if type in ['scripted'] else 'MonitorDisable'}" type="radio" name="${input.name + '.disabled'}" value="true" ${'checked="checked"' if input.disabled==True else ''} />
  </td>
% if type in ['scripted']:
  <td class="IntervalColumn">
    <input type="text" class="ScriptedInterval ${'HasError' if input.name == error_key else ''}" name="${input.name + '.interval'}" value="${input.interval}" />
  </td>
%endif
</tr>
</%def>
<%
    error_key = None
%>
<div class="UnixContainer">

  <div class="UnixOverview">
    <p>The Splunk for Unix App provides pre-built data inputs to facilitate Linux and Unix system monitoring using Splunk.  Check out the <a href="http://splunk-base.splunk.com/apps/22314/splunk-for-unix-and-linux" target="_blank">Splunk for Unix App</a> page on <a href="http://splunk-base.splunk.com" target="_blank">Splunkbase</a> for support information, the latest updates, and more.</p>
  </div>

% if system:
  <div class="UnixError">
    % if errors:
<%    
    error_key = errors.name
%>
        % for error in errors.errors:
    <p class="errorText">Error in ${errors.name}: ${error}</p>
        % endfor
    % endif
  </div>


  ${gen_form(method='POST', action=make_url(['custom', app , 'unixsetup', app, 'save']), id="unix_form")}

  ${csrf_hidden_input()}

  <div class="UnixMonitor">
    <h3 id="monitor_header">File and Directory Inputs:</h3>
    <table id="monitor_table" class="InputTable">
      <tr>
        <th class="NameHeader">Name</th>
        <th>Enable
          <span><a href="#" id="monitor_enable_all">(All)</a></span>
        </th>
        <th>Disable
          <span><a href="#" id="monitor_disable_all">(All)</a></span>
        </th>
      </tr>
    % for m in mon:
    ${gen_radio_row(m, error_key=error_key)}
    % endfor
    </table>
  </div>

  <div class="UnixScripted">
    <h3 id="scripted_header">Scripted Inputs:</h3>
    <table class="ScriptedTable InputTable">
      <tr>
        <th class="NameHeader">Name</th>
        <th>Enable
          <span><a href="#" id="scripted_enable_all">(All)</a></span>
        </th>
        <th>Disable
          <span><a href="#" id="scripted_disable_all">(All)</a></span>
        </th>
        <th class="IntervalHeader">Interval (sec)</th>
      </tr>
    % for s in scripted:
    ${gen_radio_row(s, type='scripted', error_key=error_key)}
    % endfor
    </table>
  </div>

  <div class="UnixButtons">
    <input id="unix_submit" value="Save" type="submit" class="splButton-primary">
    </input>
    <input id="unix_reset" type="reset" class="splButton-secondary">
    </input>
  </div>
  </form>
% else:
  <div class="UnixError">
    <p class="errorText">This server is not running a known Unix or Linux operating system, so there are no configuration options available.  Install this add-on on Unix or Linux systems only.</p>
  </div>
% endif:
</div>
