<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%def name="css()">
    <%coreCSSFiles = [
        "/static/css/view.css", 
        "/static/css/skins/default/default.css" 
    ] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>
<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/%s/application.css' % app, '/static/app/%s/unix_setup.css' % app]}" />
</%def>
<div class="UnixMessageContainer">
  <h2>Splunk *nix Setup Authorization Failure</h2>
  <p>Your Splunk *nix App settings could not be saved successfully.  You might not have permission to administer this app.  Click "OK" to go back to Splunk *nix App setup page.</p>
  <div class="UnixOKButton">
    <a target="_parent" href="${make_url('/app/%s/setup' % app)}" class="splButton-primary"><span>OK</span></a>
  </div>
</div>
