<%inherit file="//layout/view.html" />
<%namespace file="//view/_helpers.html" import="*"/>
<%namespace name="lib" file="//lib.html" import="*"/>

<%!
headerPanels = ["appHeader", "navigationHeader"]
upperPanels = ["viewHeader", "splSearchControls-inline", "mainSearchControls"]
%>

<%def name="css()">
    <% parent.css() %>
    <%lib:stylesheet_tags files="${['/static/css/dashboard.css']}" />
</%def>

<%def name="js()">
    <% parent.js() %>
</%def>

<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/%s/alerts.css' % APP['id'],
                                    '/static/app/%s/application.css' % APP['id']]}" />
</%def>

% if "messaging" in modules :
    <%call expr="parent.buildSimplePanelContainer(modules, 'messaging')"></%call>
% endif

<div class="appHeaderWrapper">
    % for panelName in headerPanels : 
        <%call expr="parent.buildSimplePanelContainer(modules, panelName)"></%call>
    % endfor    
</div>

% for panelName in upperPanels : 
    <%call expr="parent.buildSimplePanelContainer(modules, panelName)"></%call>
% endfor

<div class="AlertsContainer">

  <h1>*Nix Alerts</h1>

  <div class="AlertsHeader splClearfix">
    <%call expr="parent.buildPanelContents(modules, 'AlertsHeader')"></%call>
  </div>

  <div class="AlertsTop splClearfix">
    <%call expr="parent.buildPanelContents(modules, 'AlertsTop')"></%call>
  </div>

  <div class="AlertsLeft splClearfix">
    <%call expr="parent.buildPanelContents(modules, 'AlertsLeft')"></%call>
  </div>

  <div class="AlertsMain splClearfix">
    <%call expr="parent.buildPanelContents(modules, 'AlertsMain')"></%call>
  </div>

</div>
