table.splUnixAlertsTable {
    float: left;
    margin: 0 0 20px 10px;
    table-layout: auto;
    width: 97%;
}
table.splUnixAlertsTable tbody {
    height: 180px;
}
table.splUnixAlertsTable tbody tr {
    background-color: #FFFFFF;
}
table.splUnixAlertsTable tbody td.severity1,
table.splUnixAlertsTable tbody td.severity2 {
    background: url('UnixAlertsViewer/blue_info_icon.png') no-repeat scroll 4.5px center transparent;
}
table.splUnixAlertsTable tbody td.severity3 {
    background: url('UnixAlertsViewer/orange_warning_triangle.png') no-repeat scroll 5px center transparent;
}
table.splUnixAlertsTable tbody td.severity4,
table.splUnixAlertsTable tbody td.severity5 {
    background: url('UnixAlertsViewer/red_error_x.png') no-repeat scroll 5px center transparent;
}
table.splUnixAlertsTable tbody td.date{
    color: #C8C8C8;
    text-align: right;
}
table.splUnixAlertsTable tbody tr.even {
    background-color: #EEE9E9;
}
table.splUnixAlertsTable tbody tr td {
    font-size: 14px;
    border-bottom: 1px solid #CCC;
    padding: 5px 0 5px 40px;
}
.UnixAlertsInner {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    height: 80%;
    margin-left: 1%;
    overflow-y: auto;
    width: 98%;
}
.UnixAlertsInner .message {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 75px;
    text-align: center;
}
