<%page args="module" expression_filter="h" />
<%namespace name="lib" file="//lib.html" import="*"/>

<div class="UnixAlertsInner">

  <p class="message">Waiting for results...</p>
  <table class="splUnixAlertsTable" style="display: none;">
    <tbody>
    </tbody>
  </table>
</div>
